<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
    <title>Home</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
      <div class="container-fluid">
        <!-- Links -->
        <%- include('navbar.ejs') %>
      </div>
    </nav>

    <div class="container-fluid">
      <h1 class="text-center"><%= i18n.__("welcome") %></h1>
      <p class="font-weight-bolder"><%= i18n.__("empower") %></p>

      <h2><%= i18n.__("unlock") %></h2>
      <p><%= i18n.__("codingSkill") %></p>

      <h2><%= i18n.__("offer") %></h2>
      <ul>
        <li><%= i18n.__("personalizedLearning") %></li>
        <li><%= i18n.__("adaptiveLearning") %></li>
        <li><%= i18n.__("multilingualSupport") %></li>
        <li><%= i18n.__("collaborativeChat") %></li>
        <li><%= i18n.__("gamifiedExperience") %></li>
        <li><%= i18n.__("continuousFeedback") %></li>
      </ul>

      <h2><%= i18n.__("whyChooseUs") %></h2>
      <p><%= i18n.__("chooseUsDescription") %></p>
    </div>
  </body>
</html>
